<div id="poll-header">
	<h1>Poll: {{question}}</h1>
</div>

<div id="poll-content" ng-show="!voteSubmitted">
	Pick one of the following items to vote:

	<form name="myForm" >

		<label data-ng-repeat="option in options">
			<input name="poll-form" type="radio" ng-model="poll_data" value="{{option}}"> {{ option }} <br />
		</label>

		<br />
		<button class="btn btn-primary" type="button" ng-click="onSubmitClick()">Submit Vote</button>

	</form>
</div>

<div id="poll-results" ng-if="voteSubmitted">
	<div id="chart" class="chart" ac-chart="chartType" ac-data="results" ac-config="chartConfig"></div>
	<button class="btn btn-primary" type="button" ng-click="onContinueClick()">Continue</button>
</div>
