<style type="text/css">
	#poll-header h1 {
		text-align: center;
	}

	#poll-content {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

</style>

<div id="poll-header">
	<h1>Poll: {{question}}</h1>
</div>

<div id="poll-content">
	Pick one of the following items to vote:

	<form name="myForm" >
		Repeat Data:
		<p ng-repeat-start="option in options">
		<input type="radio" id="{{option}}" value="{{option}}"><label for="{{option}}">OPTION {{ option }}</label>
		</p>
		<p ng-repeat-end></p>

		Static Data:
		<div><input type="radio" ng-model="thing" id="{{options[0]}}" value="{{options[0]}}"><label for="{{options[0]}}"> {{options[0]}}</label></div>
		<div><input type="radio" ng-model="thing" id="{{options[1]}}" value="{{options[1]}}"><label for="{{options[1]}}"> {{options[1]}}</label></div>
		<div><input type="radio" ng-model="thing" id="{{options[2]}}" value="{{options[2]}}"><label for="{{options[2]}}"> {{options[2]}}</label></div>

		<br />

		<button class="btn btn-primary" type="button">Submit Vote</button>

	</form>
</div>