<div class="my-layer">

	<div id="question-header">
		<h1>Question: {{questionData.question}}</h1>
	</div>

	<div id="question-content">
		<form name="myForm" >
			Pick from the following:

			<div data-ng-repeat="option in questionData.options">
				<label>
					<input name="question-form" type="radio" ng-model="questionData.chosen" value="{{option.name}}">
					{{ option.name }}
				</label>
			</div>

			<br />

			<div id="button_group">
				<vg-question-submit></vg-question-submit>
				<vg-question-skip ng-if="questionData.allowSkip"></vg-question-skip>
			</div>
		</form>
	</div>
</div>
