<vg-box header="Question: {{questionData.question}}">
	<div>
		Choose slider value (min: {{questionData.min}}, max: {{questionData.max}}):
	</div>

	<div class="row" style="padding:0px">
		<div class="col-md-4" style="padding:0px;"><div style="text-align: right; width:100%">{{questionData.min}}</div></div>
		<div class="col-md-4" style="padding:0px;"><div style="text-align: center"><label><input name="question-form" type="range" min="{{questionData.min}}" max="{{questionData.max}}" step="{{questionData.step}}" ng-model="questionData.chosen"></label></div></div>
		<div class="col-md-4" style="padding:0px;">{{questionData.max}}</div>
	</div>

	<div style="text-align: center; font-weight:bold;">{{questionData.chosen}}</div>

	<div id="button_group">
		<vg-question-submit></vg-question-submit>
		<vg-question-skip ng-if="questionData.allowSkip"></vg-question-skip>
	</div>
</vg-box>
