<vg-box header="Question: {{questionData.question}}">
	Select at least {{questionData.min}} choices and at most {{questionData.max}} choices.

	<div data-ng-repeat="option in questionData.options">
	<label>
		<input name="question-form" type="checkbox" ng-model="option.chosen" value="{{option.name}}"/>
		{{ option.name }}
	</label>
	</div>

	<br />

	<div id="button_group">
		<vg-question-submit></vg-question-submit>
		<vg-question-skip ng-if="questionData.allowSkip"></vg-question-skip>
	</div>
</vg-box>
