<vg-box header="Question: {{questionData.question}}">
	Choose slider value (min: {{questionData.min}}, max: {{questionData.max}}): <br />

	<div style="text-align: center">
		<label>
			<input name="question-form" type="range" min="{{questionData.min}}" max="{{questionData.max}}" step="{{questionData.step}}" ng-model="questionData.chosen">
		</label> <br />
	</div>

	</div>

	<br />

	<div id="button_group">
		<vg-question-submit></vg-question-submit>
		<vg-question-skip ng-if="questionData.allowSkip"></vg-question-skip>
	</div>
</vg-box>
